<div style="text-align:center">
  <nav class='navbar navbar-expand' style='background-color:#096A2E;background: #096A2E;'>
    <a class="navlink" routerLink='/welcome'>
      <img src="./assets/images/logo.png"
            class="img-responsive center-block"
            style="max-height:50px;padding-bottom:5px;padding-left:10px;padding-right:10px" />
    </a>
    <li>Ongoing tournament: Australian Open&nbsp;&nbsp;</li>    
    <li><a class="navlink" routerLink='/products'>Ranking</a>&nbsp;&nbsp;</li>  
    <li><a class="navlink" routerLink='/products'>Player Zone</a>&nbsp;&nbsp;</li>          
  </nav>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>
