<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-1 text-right' >Ronda:</div>
        <div class='col-md-2'>
          <select [(ngModel)]="selectedRound" class="h-100 w-100" >
            <option *ngFor="let r of rounds" [ngValue]="r">{{r.roundName}}</option>
          </select> 
        </div>
        <div class='col-md-1 text-right' >Liga:</div>
        <div class='col-md-2'>
          <select [(ngModel)]="selectedLeague" class="h-100 w-100" >
            <option *ngFor="let l of leagues" [ngValue]="l">{{l.leagueName}}</option>
          </select> 
        </div>
        <div class='col-md-1 text-right' >Jugador:</div>
        <div class='col-md-2'>
          <input type='text'
          [(ngModel)]='listFilter' style="width:90%"/>    
        </div>
      </div>
      <div class='row'>
        &nbsp;
      </div>
      <div>
        <ng-container *ngIf = 'filteredMatches' >
            <div class="row">
                <div class="col-sm-12 mt-12"  *ngFor='let match of filteredMatches'>
                     <pm-match [match]="match" /> 
                </div>
            </div>
          </ng-container>
      </div>
    </div>
</div>
<div *ngIf='errorMessage'
      class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
