<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-1 text-right' >Ronda:</div>
        <div class='col-md-2'>
          <select [(ngModel)]="selectedRound" class="h-100 w-100" id="round">
            <option *ngFor="let r of rounds" [ngValue]="r">{{r.roundName}}</option>
          </select> 
        </div>
        <div class='col-md-1 text-right' >Liga:</div>
        <div class='col-md-2'>
          <select [(ngModel)]="selectedLeague" class="h-100 w-100" id="league">
            <option *ngFor="let l of leagues" [ngValue]="l">{{l.leagueName}}</option>
          </select> 
        </div>
        <div class='col-md-1 text-right' >Jugador:</div>
        <div class='col-md-2'>
          <input type='text'
          [(ngModel)]='listFilter' style="width:90%"/>    
        </div>
        <div class='col-md-3 text-right' >
          <div class='col-md-3 text-right' >
              No time: <input type='checkbox'
              [(ngModel)]='noTime' style="width:90%"/>    
          </div>
          <div class='col-md-3 text-right' >
               No result: <input type='checkbox'
              [(ngModel)]='noResult' style="width:90%"/>    
           </div>   
        </div>
      </div>
      <div class='row'>
        &nbsp;
      </div>
      <div>
        <ng-container *ngIf = 'filteredMatches' >
            <div class="row">
                <div class="col-sm-12 mt-12"  *ngFor='let match of filteredMatches'>
                     <pm-match [match]="match" /> 
                </div>
            </div>
          </ng-container>
      </div>
    </div>
</div>
<div class='card'>
  <div class='card-header'>
    Otros controles
  </div>
  <div class='card-body'>
    <div class="row">
      <div class="col-sm-2" style="text-align: left;">
          Ronda actual: <br/> {{currentRound()}}
      </div>
      <div class="col-sm-4">
          <button class="btn btn-block px-sm-3 px-md-5 btn-primary" 
              (click)="onNextRoundTeamsCreated();" onclick="this.blur()">Crear equipos para ronda siguiente</button>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-block px-sm-3 px-md-5 btn-primary" 
            (click)="onNextRoundTeamsCreated();" onclick="this.blur()">Mover el juego a la ronda siguiente</button>
    </div>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
      class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
