<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-1 text-left' >Ronda:</div>
        <div class='col-md-2'>
          <select [(ngModel)]="selectedRound" class="h-100 w-100" >
            <option *ngFor="let r of rounds" [ngValue]="r">{{r.roundName}}</option>
          </select> 
        </div>
      </div>
      <div class='row'>
        &nbsp;
      </div>
      <div>
        <ng-container *ngIf = 'filteredMatches' >
            <div class="row">
                <div class="col-sm-12 mt-12"  *ngFor='let match of filteredMatches'>
                     <pm-match [match]="match" /> 
                </div>
            </div>
          </ng-container>
      </div>
    </div>
</div>
<div *ngIf='errorMessage'
      class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
