<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
      <div class="table">
        <div class="row">
          <div class="col-sm-3">
              <div class="row">
                <div class="text-center">
                  Torneo en curso  
                </div> 
              </div>      
              <div>
                <img src="./assets/images/arg-logo.png"
                      class="img-responsive center-block"
                      style="max-height:200px;padding-bottom:5%;padding-top:5%;" />
              </div>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-4">
            <div class="text-center">
              Ganadores&nbsp;&nbsp;
            </div>
            <div>
              <div class="table" style="width:100%;">
                <thead>
                  <tr>
                    <th scope="col">Torneo</th>
                    <th scope="col"></th>
                    <th scope="col">Ganador</th>
                  </tr>
                </thead>
                <tbody>                  
                  <tr>
                    <td><img src="./assets/images/arg-logo.png"
                      class="img-responsive center-block"
                      style="max-height:50px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Argentina Open 2024&nbsp;</td>
                    <td>&nbsp;&nbsp;<a routerLink='/ranking'>Ranking</a>&nbsp;&nbsp;</td>
                  </tr>  
                  <tr>
                    <td><img src="./assets/images/ao-logo.png"
                      class="img-responsive center-block"
                      style="max-height:50px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Australian Open 2024&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;anitsuga&nbsp;&nbsp;</th>
                  </tr>  
                </tbody>
              </div>
            </div>
          </div>
          <div class="col-sm-1" style="align-content:center;"></div>
          <div class="col-sm-3">
            <div class="row">
              <div class="text-center">
                Pr&oacute;ximo Torneo  
              </div> 
            </div>      
            <div>
              <img src="./assets/images/rg-logo.png"
                    class="img-responsive center-block"
                    style="max-height:200px;padding-bottom:5%;padding-top:5%;" />
            </div>
        </div>
          <!--
          <div class="col-sm-3">
              <img src="./assets/images/logo.png"
              style="max-width:100%;padding-top:10%;" />
          </div>
          -->
        </div>
        <div class="row" style="min-height:10px;">
          &nbsp;
        </div> 
      </div>
  </div>
  <div class="card-footer">
    <div class="text-center">Desarrollado por:</div>
    <div class="text-center">
      <div class="anitsuga">anitsuga</div>
    </div>
  </div>
</div>