<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
      <div class="table">
        <div class="row">
          
          <!--div class="col-sm-1"></div-->
          <div class="col-sm-7">
            <div class="row text-center" style="justify-content: center;">
              <div class="text-center">
                Pr&oacute;ximo Torneo
              </div> 
              <img src="./assets/images/tournaments/rg-logo.png"
                  class="img-responsive center-block text-center"
                  style="max-width:140px;padding-bottom:4%" />
            </div>
            <div class="center text-center" >
            <div>
              Ganadores de Torneos Pasados
            </div>
            <div class="table-container">
              <div class="table">
                <thead>
                  <tr>
                    <th scope="col">Torneo</th>
                    <th scope="col"></th>
                    <th scope="col">Ganador</th>
                  </tr>
                </thead>
                <tbody>
                  <!--
                  <tr>
                    <td><img src="./assets/images/tournaments/rg-logo.png"
                      class="img-responsive center-block"
                      style="max-height:58px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Roland Garros 2025&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;<a routerLink='/ranking'>Ranking</a>&nbsp;&nbsp;</th>
                  </tr>  
                  -->
                  <tr>
                    <td><img src="./assets/images/tournaments/rg-logo.png"
                      class="img-responsive center-block"
                      style="max-height:58px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Roland Garros 2025&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;anitsuga&nbsp;&nbsp;</th>
                  </tr>  
                  <tr>
                    <td><img src="./assets/images/tournaments/iw-logo.png"
                      class="img-responsive center-block"
                      style="max-height:58px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Indian Wells 2025&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;marcelofioren77&nbsp;&nbsp;</th>
                  </tr>                              
                  <tr>
                    <td><img src="./assets/images/tournaments/arg-logo.png"
                      class="img-responsive center-block"
                      style="max-height:58px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Argentina Open 2025&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;Andre&nbsp;&nbsp;</th>
                  </tr>               
                  <tr>
                    <td><img src="./assets/images/tournaments/ao-logo.png"
                      class="img-responsive center-block"
                      style="max-height:58px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Australian Open 2025&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;anitsuga&nbsp;&nbsp;</th>
                  </tr>  
                  <tr>
                    <td><img src="./assets/images/tournaments/us-open1-logo.png"
                      class="img-responsive center-block"
                      style="max-height:58px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;US Open 2024&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;MartinPV&nbsp;&nbsp;</th>
                  </tr>
                  <tr>
                    <td><img src="./assets/images/tournaments/w1-logo.png"
                      class="img-responsive center-block"
                      style="max-height:63px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Wimbledon 2024&nbsp;</td>
                    <th scope="row">&nbsp;marcelofioren77&nbsp;</th>
                  </tr>                     
                  <tr>
                    <td><img src="./assets/images/tournaments/rg-logo.png"
                      class="img-responsive center-block"
                      style="max-height:61px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Roland Garros 2024&nbsp;</td>
                    <th scope="row">&nbsp;marcelofioren77&nbsp;</th>
                  </tr>   
                  <tr>
                    <td><img src="./assets/images/tournaments/iw-logo.png"
                      class="img-responsive center-block"
                      style="max-height:58px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Indian Wells 2024&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;anitsuga&nbsp;&nbsp;</th>
                  </tr>                   
                  <tr>
                    <td><img src="./assets/images/tournaments/arg-logo.png"
                      class="img-responsive center-block"
                      style="max-height:58px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Argentina Open 2024&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;Nole_GOAT&nbsp;&nbsp;</th>
                  </tr>  
                  <tr>
                    <td><img src="./assets/images/tournaments/ao-logo.png"
                      class="img-responsive center-block"
                      style="max-height:58px;padding-bottom:1%;padding-top:1%;" /></td>
                    <td>&nbsp;Australian Open 2024&nbsp;</td>
                    <th scope="row">&nbsp;&nbsp;anitsuga&nbsp;&nbsp;</th>
                  </tr>  
                </tbody>
              </div>
            </div>
            </div>
          </div>
          <!--div class="col-sm-1" style="align-content:center;"></div-->
          <div class="col-sm-5">
            <div class='card'>
              <div class='card-header'>
                Champions Race 2025
              </div>
              <div class='card-body'>
                <div class='table-responsive'>
                  <table class='table'
                         *ngIf = 'race.length'>
                    <thead>
                      <tr>
                        <th>Posici&oacute;n</th>
                        <th>Jugador</th>
                        <th>Puntos</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let ranking of race'>
                        <td>{{ ranking.position }}</td>
                        <td>
                          <a [routerLink]="['/teams', ranking.user.userId]">
                            {{ ranking.user.userName }}
                          </a>
                        </td>
                        <td>{{ ranking.points }}</td> 
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

        </div>
          <!--
          <div class="col-sm-3">
              <img src="./assets/images/logo.png"
              style="max-width:100%;padding-top:10%;" />
          </div>
          -->
        </div>
        <div class="row" style="min-height:10px;">
          &nbsp;
        </div> 
      </div>
  </div>
  <div class="card-footer">
    <div class="text-center">Desarrollado por:</div>
    <div class="text-center">
      <div class="anitsuga">anitsuga</div>
    </div>
  </div>
</div>