<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-1'>Ronda:</div>
        <div class='col-md-2'>
          <select [(ngModel)]="selectedRound">
            <option *ngFor="let r of rounds" [ngValue]="r">{{r.roundName}}</option>
          </select>
        </div>
      </div>
      <div class='row'>
        &nbsp;
      </div>
      <div class='table-responsive'>
        <table class='table'
               *ngIf = 'ranking.length'>
          <thead>
            <tr>
              <th>Posicion</th>
              <th>Jugador</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let ranking of filteredRanking'>
              <td>{{ ranking.position }}</td>
              <td>
                <a [routerLink]="['/teams', ranking.user.userId]">
                  {{ ranking.user.userName }}
                </a>
              </td>
              <td>{{ ranking.score }}</td> 
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
