<div class="card">
    <table class="table">
        <tr><td><img src="{{photo}}" style="width:100%"/></td></tr>
        <tr><td>{{ player.player.playerName }}</td></tr>
        <tr><td>Puntos en juego {{ player.pointsToAward }}</td></tr>
        <ng-container *ngIf = 'shouldAllowPlayerAddition(match,player)'>
            <tr><td><img src="assets/images/plus-sign.svg" style="width:25%"
                (click)="confirmSelection()"/></td></tr>   
        </ng-container>  
    </table>   
</div>

<pm-player-modal 
        [player]="player" 
        [playerName]="player.player.playerName"
        [playerProfilePic]="player.player.playerProfilePic" 
        [message]="modalMessage()"
        [display]="displayModal"
        (onModalAccepted)="onPlayerSelected($event)"
        (onModalCancelled)="modalClosed($event)">
</pm-player-modal>

