<div class="card">
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class="row">
          Liga
          <select [(ngModel)]="selectedLeague" style="width:90%">
            <option *ngFor="let league of leagues" [ngValue]="league">{{league.leagueName}}</option>
          </select>
      </div>
      <div class="row">
          Jugador
          <input type='text'
              [(ngModel)]='listFilter' style="width:90%"/>    
      </div>  
    </div>
    <div class='card-body divScroll'>
      <div class="row" *ngFor='let player of filteredPlayers'>
        <pm-available-player [player]="player" [team]="team" (playerClicked)="onPlayerClicked($event)"></pm-available-player>
      </div>
    </div>
</div>
