<div class="card h-100">
    <div class="card-header">
      <div class="row">
          <div class="col-sm-1">
            <span class="pull-left" style="padding-left:3%">
              {{getPosition(selectedPlayer)}}
            </span>
          </div>
          <div class="col-sm-2">&nbsp;</div>
          <div class="col-sm-8 float-right justify-content-end align-items-right align-self-end" style="text-align:right;">
            <ng-container *ngIf = 'playerCanBeRemoved(selectedPlayer)' >
                <div class="pull-right clickable close-icon playnice float-right justify-content-end align-items-right align-self-end" data-effect="fadeOut" 
                          (click)='confirmPlayerRemoval()'>
                    <i class="fa fa-times"></i>
            </div>
            </ng-container>
            <ng-container *ngIf = 'playerCanNotBeRemoved(selectedPlayer)' >
              <div class="pull-right playnice float-right justify-content-end align-items-right align-self-end" data-effect="fadeOut" >
                    <i class="fa fa-thumb-tack"></i> 
              </div>
            </ng-container> 
          </div>
      </div>
    </div>
    <div class="card-block">
        <div>
          <ng-container *ngIf = 'shouldDisplayPlayer(selectedPlayer)' >
              <div class="row center">
                  <div>
                      <div class='{{photoType}}' >
                        <a href="{{selectedPlayer.playerStats.player.playerProfileUrl}}"  target="_blank">
                          <img src="{{photo}}" style="width:100%" />
                        </a> 
                      </div> 
                      <div>                  
                        <a href="{{selectedPlayer.playerStats.player.playerProfileUrl}}"  target="_blank">
                          {{ selectedPlayer.playerStats.player.playerName }}
                        </a>
                      </div>
                      <ng-container *ngIf = 'playerIsConfirmed(selectedPlayer)' >
                        <div>Puntos en juego {{ selectedPlayer.playerStats.pointsToAward }}</div> 
                      </ng-container>
                      <ng-container *ngIf = '!playerIsConfirmed(selectedPlayer)' >
                        <div>&nbsp;</div>
                      </ng-container>
                  </div>
              </div>
          </ng-container>
          <ng-container *ngIf = 'shouldDisplayPendingSelection(selectedPlayer)'>
              <div class="hidden-player">
                <img src="assets/images/yellow-question-mark.png" >
              </div>
          </ng-container>
          <!-- ng-container *ngIf = 'shouldDisplayPendingResult(selectedPlayer)'>
            <div class="hidden-player">
              <img src="assets/images/yellow-question-mark.png" >
            </div>
          </ng-container -->
          <ng-container *ngIf = 'shouldDisplayPlayer(selectedPlayer)' >
              <div>
                <pm-multiplier 
                    [multiplier]='selectedPlayer.playerMultiplier' 
                    [mode]='mode' 
                    [player]='selectedPlayer'
                    [matches]="matches"
                    [maximumMultipliers]='maximumMultipliersPerPlayer()'
                    (multiplierAdded)='confirmMultiplierAdded()'
                    (multiplierRemoved)='confirmMultiplierRemoved()'>
                </pm-multiplier>
              </div>
          </ng-container>
          <ng-container *ngIf = 'shouldDisplayPlayer(selectedPlayer) && playerIsConfirmed(selectedPlayer)' >
              <div>
                  <ng-container *ngIf = '!!selectedPlayer.played'>
                      <ng-container *ngIf = 'selectedPlayer.playerScore > 0'>
                          <div class="card winner">Puntaje {{ selectedPlayer.playerScore }}</div>
                      </ng-container>
                      <ng-container *ngIf = 'selectedPlayer.playerScore <= 0'>
                          <i class="fa fa-times" style="color: red;"></i>
                      </ng-container>
                  </ng-container>
                  <ng-container *ngIf = '!selectedPlayer.played'>Resultado Pendiente</ng-container>
              </div>
          </ng-container>
          <ng-container *ngIf = 'shouldDisplayPlayer(selectedPlayer) && !playerIsConfirmed(selectedPlayer)' >
            <div>
                Esperando resultado de la ronda anterior
            </div>
          </ng-container>
          <ng-container *ngIf = 'needsNextRoundSelection(selectedPlayer)' >
              <div class="card" style="margin:3%;padding:2%;">
                <div class="row">                    
                    <div class="col-md-6">
                        <ng-container *ngIf = '!playerIsInFirstPosition(selectedPlayer)' >
                        <i class="fa fa-arrow-left" aria-hidden="true" (click)="moveLeft(selectedPlayer)"></i>
                        </ng-container>
                    </div>
                    <div class="col-md-6">
                      <ng-container *ngIf = '!playerIsInLastPosition(selectedPlayer)' >
                      <i class="fa fa-arrow-right" aria-hidden="true" (click)="moveRight(selectedPlayer)"></i>
                      </ng-container>
                  </div>
                </div>
              </div>
          </ng-container>
        </div> 
    </div>
</div>

<pm-player-modal 
        [player]="selectedPlayer" 
        [playerName]="selectedPlayer.playerStats.player.playerName"
        [playerProfilePic]="photo"         
        [message]="addMultiplierMessage()"
        [display]="displayAddMultiplierModal"
        (onModalAccepted)="onMultiplierAdded($event)"
        (onModalCancelled)="modalClosed($event)">
</pm-player-modal>

<pm-player-modal 
        [player]="selectedPlayer" 
        [playerName]="selectedPlayer.playerStats.player.playerName"
        [playerProfilePic]="photo" 
        [message]="removeMultiplierMessage()"
        [display]="displayRemoveMultiplierModal"
        (onModalAccepted)="onMultiplierRemoved($event)"
        (onModalCancelled)="modalClosed($event)">
</pm-player-modal>

<pm-player-modal 
        [player]="selectedPlayer" 
        [playerName]="selectedPlayer.playerStats.player.playerName"
        [playerProfilePic]="photo"  
        [message]="removePlayerMessage()"
        [warning]="penaltyMessage()"
        [display]="displayRemovePlayerModal"
        (onModalAccepted)="onPlayerRemoved($event)"
        (onModalCancelled)="modalClosed($event)">
</pm-player-modal>

