.crop-container {
    width: 90% !important;
    height: 275px !important;
    overflow: hidden !important;
    text-align: center !important;
    margin: 5% !important;
  }
  
.close-icon {
    cursor: pointer;
  }

.playnice {
  text-align: right !important; 
  margin-right:2% !important;
}