<div class='card'>
    <div class='card-header'>
      {{pageTitle}} {{ currentTeamName() }} 
    </div>
    <div class='card-body'>
      <ng-container *ngIf = 'shouldAllowTeamSelection()'>
      <div class='row' >
        <div class='col-md-1 text-left'>Equipo:</div>
        <div class='col-md-3'>
          <select [(ngModel)]="selectedUser" class="h-100 w-100" [compareWith]="compareUsers">
            <option *ngFor="let u of users" [ngValue]="u">{{u.userName}}</option>
          </select>
        </div>
      </div>
      </ng-container>
      <div class='row'>
        <div class='col-md-1 text-left' >Ronda:</div>
        <div class='col-md-2'>
          <select [(ngModel)]="selectedRound" class="h-100 w-100" >
            <option *ngFor="let r of rounds" [ngValue]="r">{{r.roundName}}</option>
          </select> 
        </div>
        <ng-container *ngIf = 'shouldDisplayAvailableMultipliers()'>
        <div class='col-md-2 text-left'>Multiplicadores:</div>
        <div class="col-md-7">
              <div class="row" >
                  <div *ngFor="let i of [].constructor(availableMultipliers())" class="col"> 
                      <img src="./assets/images/yellow-tennis-ball.png" size="80%" class="scaleA scale"/>
                  </div> 
                  <div *ngFor="let i of [].constructor(maximumMultipliers()-availableMultipliers())" class="col"> 
                    <img src="./assets/images/favicon.png" class="scaleB scale"/>
                  </div> 
              </div>
        </div>
      </ng-container>
      </div>
      <div class='row'>
        &nbsp;
      </div>
      <div>
        <ng-container *ngIf = 'filteredTeam' >
            <div class="row">
            <div class="col-sm-3 mt-2"  *ngFor='let selectedPlayer of filteredTeam.selection'>
                <pm-selected-player 
                    [selectedPlayer]="selectedPlayer" 
                    [mode]="mode" 
                    [filteredTeam]="filteredTeam" 
                    [availableMultipliers]="availableMultipliers()"
                    (playerRemoved)="playerRemoved($event)">
                </pm-selected-player>
            </div>
            </div>
          </ng-container>
      </div>
    </div>
</div>
<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <ng-container *ngIf = 'shouldDisplayTotalScore()'>
      <div class='col-md-2'>Puntos en la ronda:</div>
      <div class='col-md-1'>
        {{filteredTeam.score}}
      </div>
      </ng-container>
    </div>
  </div>
</div> 
<div *ngIf='errorMessage'
      class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
