thead {
    color: #096A2E;
}

.scaleA {
  width: 24px;
  height: 24px;
  border: 0px ;
}

.scaleB {
  width: 28px;
  height: 28px;
  border: 0px ;
}

.scale { object-fit: scale-down; }

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crop-container {
  width: 95%;
  height: 200px;
  overflow: hidden;
}
